body {
	background-color:black;
	font-family: arial;
	color: white;
}
h1{
	color:grey;
	font-family: verdana;
}
.maindiv{
  color: black;
  background-color:white;
  border-radius: 25px;
  width: 300px;
  padding: 20px;
  align: center;
}
.inputs {
	text-align: center;
}
#principal {
	padding-left:20px;
}
